.map {
  height: 97%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.notif {
  position: absolute;
}

.waiting-screen {
  text-align: center;
  margin-top: 40vh;
  color: white;
  font-size: 18px;
}

.waiting-screen-map {
  text-align: center;
  color: white;
  font-size: 16px;
  background:
    linear-gradient(
      90deg,
      rgba(
        89,
        0,
        255,
        0.95
      ),
      rgba(
        255,
        127,
        22,
        0.959
      )
      100%
    );
  display: block ruby;
  padding-bottom: 1vh;
}

.center-button {
  display: grid;
  margin: auto;
}
