.NavbarItems{
    background: linear-gradient(90deg, rgb(226, 93, 83), rgb(110, 102, 221) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    color: white;
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
}

.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    font-size: 1.4rem;
}

.nav-links{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: rgb(12, 194, 240);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 960px){
    .NavbarItems{
        position: relative;
    }

}
@media (prefers-reduced-motion: no-preference) {
    .app-logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }