.welcome {
  text-align: center;
  margin-top: 39vh;
  color: white;
  font-size: 22px;
}

.about-us {
  text-align: center;
  color: white;
  font-size: 14px;
  display: contents;
}

.margin-top {
  margin-top: 3%;
}

.background {
  background-image: url("../static/back.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.card-home {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:
    rgb(
      255,
      255,
      255
    );
  border-radius: 25px;
  width: 60vw;
  margin: auto;
}

.card-welcome {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:
    rgb(
      255,
      255,
      255
    );
  border: black;
  border-radius: 10px;
  height: 42vh;
  width: 70vw;
  margin: auto;
}

.vl {
  border-left:
    2px
    groove
    rgb(
      226,
      226,
      226
    );
}

.margin-top-bot {
  margin: auto;
}

.div-image-radarin {
  width: 50%;
  margin: auto;
}

.welcome-container {
  text-align: center;
  margin: auto;
  margin-top: 33vh;
  font-size: 22px;
}

.login-container {
  text-align: center;
  margin: auto;
  margin-top: 20vh;
  font-size: 22px;
}

.margin-top-button {
  margin-top: 6%;
}

.imagen {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.card-login {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:
    rgb(
      255,
      255,
      255
    );
  border: black;
  border-radius: 10px;
  width: 70vw;
  margin: auto;
}

.prov {
  height: 110px;
}

.margin-bot {
  margin-bottom: 2%;
}

.decoration-none {
  color: white;
  text-decoration: none; /* no underline */
}

.container-width {
  max-width: 100%;
}

.image-radarin {
  width: 100%;
}

hr.loginleft {
  width: 130%;
  margin-top: 1.5rem;
  border:
    1px
    solid
    black;
}

hr.loginright {
  width: 100%;
  margin-top: 1.5rem;
  position: absolute;
  left: -15%;
  border:
    1px
    solid
    black;
}

.sm {
  width: 20%;
  padding-top: 2px;
  font-size: 16px;
}

.select-provider {
  width: 80%;
  border:
    1px
    solid
    rgb(
      121,
      121,
      121
    );
  margin-bottom: 2%;
}

.overflow-visible {
  overflow: visible;
  font-size: 27px;
}

.fixed {
  display: block !important;
}

.thanks {
  position: relative;
  color: white;
  top: -13vh;
}

.image-combo {
  height: 50px;
}

.margin-top-card {
  margin-top: 5px;
  border-radius: 30px !important;
}
