

.welcome {
  text-align: center;
  margin-top: 39vh;
  color: white;
  font-size: 22px;
}

.about-us {
  text-align: center;
  color: white;
  font-size: 16.6px;
  display: contents;
}

.margin-top {
  margin-top: 2%;
}

.margin-top-button {
  margin-top: 3%;
}

.background {
  background-image: url("../static/back.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-welcome  {
  height: 120px;
}

.select {
  height: 10vh 
    !important;
}

.select-small {
  margin-top: 3vh;
}

.card-home {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(
      255, 
      255, 
      255
  );
  border: black;
  border-radius: 10px;
  height: 32vh;
  width: 70vw;
  margin: auto;
}

.card-welcome {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(
      255, 
      255, 
      255
  );
  border: black;
  border-radius: 10px;
  height: 42vh;
  width: 70vw;
  margin: auto;
}

.vl  {
  border-left: 2px 
    groove 
      rgb(
          226, 
          226, 
          226
        );
  position: absolute;
  flex-grow: 0 ;
}

.margin-top-bot {
  margin-top: auto;
  margin-bottom: auto;
}

.welcome-container {
  text-align: center;
  margin: auto;
  margin-top: 30vh;
  font-size: 22px;
}

.margin-top-button {
  margin-top: 6%;
}

.adjust {
  margin-top: 4.5%;
}

.imagen {
  width: 250px;
  height:250px;
  border-radius: 10px;
}

.margin-bot {
  margin-bottom: 2%;
}

.decoration-none  {
  color: white;
  text-decoration: none; /* no underline */
}

.container-width {
  max-width: 100% 
    !important;
}

.image-radarin {
  width: 95%;
}

.login-button {
  font-size: 22px 
    !important;
}

hr.loginleft  {
  width: 130% 
    !important;
  margin-top: 1.5rem 
    !important;
  border: 1px 
    solid 
      black;
}

hr.loginright  {
  width: 100% 
    !important;
  margin-top: 1.5rem 
    !important;
  position: absolute;
  left: -15%;
  border: 1px 
    solid 
      black;
}

.lg-text {
  font-size: 29px 
    !important;
}

.sm-lg-text {
  font-size: 22px 
    !important;
}

.overflow-visible {
  overflow: visible 
    !important;
}
.sm {
  width: 20%;
  padding-top: 2px;
}

.margin-sides {
  margin-left: auto 
    !important;
  margin-right: auto 
    !important;
}

.select-provider {
  width: 80%;
  border: 1px 
    solid 
      rgb(
          121, 
          121, 
          121
        );
  margin-bottom: 2%;
}

.fixed {
  display: block 
    !important;
}

.margin-auto {
  margin: auto;
}

.thanks {
  position: relative;
  color: white;
  top: -13vh;
}
.image-combo {
  height: 50px;
}

.toButton {
  text-decoration: none 
    !important;
  background: none 
    !important;
  border: none 
    !important;
  height: 12%;
}

.margin-side {
  margin-right: 20px;
}

.margin-button {
  display: block 
    !important;
  margin: auto 
    !important;
}
