.main {
  color: white;
  font-size: 35px;
  text-align: center;
  margin-top: 4%;
}

.manage-friends {
  text-align: center;
  display: flex;
}

.group {
  overflow: auto;
  height: 590px;
  margin: auto;
}

.card {
  width: 35vw;
  height: 6.3vh;
  margin-left: auto !important;
  margin-right: auto !important;
  color: black;
  padding-top: 5px;
  overflow: visible;
}

.buttons-friend {
  text-align: center;
  float: right;
  width: 40%;
  position: relative;
  top: -15%;
}

.buttons-friend-card {
  text-align: center;
  float: right;
  width: 40%;
  position: relative;
}

.button {
  border-radius: 25px;
  font-size: 18px;
}

.right {
  margin-left: auto;
}

.details {
  background-color:
    rgb(
      247,
      158,
      26
    );
}

.image {
  width: 5vh;
  border-radius: 40px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: text-top !important;
}

.left {
  float: left;
  width: 10%;
}

.center {
  float: inline-start;
  width: 50%;
}

.title {
  text-align: center;
  margin-top: 1vh;
  font-weight: 700;
  font-size: 20px;
}

.length-input {
  width: 15vw;
  text-decoration: none;
  outline: none;
  border-radius: 15px;
}

.margin-top-friends {
  margin-top: 6vh;
}
