.NavbarItems {
  background:
    linear-gradient(
      90deg,
      rgba(
        89,
        0,
        255,
        0.959
      ),
      rgba(
        255,
        127,
        22,
        0.959
      )
      100%
    );
  height: 7%;
  display: flex;
  justify-content: center;
}

.nav-menu {
  display: inherit;
  list-style: none;
  font-size: 1.3rem;
  margin: auto;
  padding: inherit;
}

.nav-links {
  color:
    rgb(
      255,
      255,
      255
    );
  padding:
    0.5rem
    2rem;
}

.nav-icons {
  padding-right: 0.6rem;
}


.nav-links:hover {
  background-color:
    rgba(
      0,
      0,
      0,
      0.925
    );
  border-radius: 15px;
  transition:
    all
    0.5s
    ease-out;
  color: white;
  text-decoration: none;
}
